
utils/Arcface/arcface_checkpoint.tar
utils/Arcface/arcface_checkpoint.tar
utils/Arcface/arcface_checkpoint.tar
utils/Arcface/arcface_checkpoint.tar
utils/insightface_func/models/antelope/glintr100.onnx
datasets/*
*.patch
checkpoints/*
*/__pycache__
*/__pycache__/*
*/.pytest_cache
output
tmp
*/*.pyc